body {
  margin: 0;
  padding: 0;
  display: grid;
  place-content: center;
}

#cards-panel {
  background-color: #d3d3d3;
  --min: 215px;
  --gap: .7rem;
  display: grid;
  grid-gap: var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
}

.card {
  margin: 2px;
  padding: 2px;
  border: 1px solid #000000;
}

.card > ul {
  list-style: none;
  margin: 0;
}

.card img {
  max-width: 200px;
}
